################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Api/bin/Debug/netcoreapp3.0
/Api/obj
/Client/bin/Debug/netcoreapp3.0
/Client/obj
/Server/bin/Debug/netcoreapp3.0
/Server/obj
/Api/bin/Debug/net5.0
/Client/bin/Debug/net5.0
/Server/bin/Debug/net5.0
